<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CharacterFilesDirectory" value="filepath"/>
    <add key="NodeSubstitutionsFile" value="C:\Sysdev\RNPC\RNPC\DTO\Learning\Resources\DecisionTreeSubstitutions.xml"/>
    <add key="CentralDecisionTreeRepository" value="./SubTreeSubstitionMap.xml"/>
    <add key="LogFilesDirectory" value="./Log"/>
    <add key="KnowledgeFilesDirectory" value="./knwldg"/>
  </appSettings>
</configuration>