<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CharacterFilesDirectory" value="C:\\Sysdev\\RNPC\\logs\\Characters\\"/>
    <add key="NodeSubstitutionsFile" value="..\\..\\..\\..\\DTO\\Learning\\Resources\\DecisionTreeSubstitutions.xml"/>
    <add key="CentralFileControllerRepository" value="..\\..\\..\\..\\RNPC\\XMLTreeFiles\\"/>
    <add key="LogFilesDirectory" value="./Log"/>
    <add key="KnowledgeFilesDirectory" value="C:\\Sysdev\\RNPC\\Knowledge\\"/>
    <add key="SubTreeRepository" value="..\\..\\..\\..\\RNPC\\Subtrees\\"/>
    <!--ConfigurationDirectory.Instance.LogFilesDirectory = "C:\\Sysdev\\RNPC\\logs\\";-->
  </appSettings>
</configuration>